table[data-sortable] th {
	vertical-align: top;
}

th,
td.app-release-date,
td.app-fix-count,
td.app-tag-name a {
	white-space: nowrap;
}

td.missing {
	background-color: #fcc;
}

.app-fixes a {
	white-space: nowrap;
}