/* ==UserStyle==
@name           JIRA User Style
@namespace      holatuwol
@version        1.0.0
@description    A user style for issues.liferay.com
@author         holatuwol
==/UserStyle== */

@-moz-document domain("issues.liferay.com") {
  .aui-badge {
    background: rgba(0,0,0,0.1);
    font-size: 1em;
  }

  .dashboard-item-content .favourite-filters-view table.aui {
    direction: rtl;
  }

  .dashboard-item-content .favourite-filters-view table.aui td,
  .dashboard-item-content .favourite-filters-view table.aui th {
    direction: ltr;
  }

  .aui-group.issue-body {
    display: flex;
    flex-direction: column-reverse;
  }

  #viewissuesidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    width: 100%;
  }

  #viewissuesidebar > .module {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  #documentation-web-panel,
  #greenhopper-agile-issue-web-panel,
  #packages-issue-panel,
  #slack-viewissue-panel {
    display: none;
  }

  .module:first-child,
  .issue-body-content .module+.module {
    margin-top: 15px;
    padding-top: 15px;
  }
}